:root {
  --primary-font: "Poppins", sans-serif;
  --background-color: #f8f9fa;
  --text-color: #333;
  --section-bg-even: #eef7f9;
  --section-padding: 60px 0;
  --image-border-radius: 10px;
  --heading-font-weight: 600;
  --heading-margin-bottom: 20px;
  --paragraph-line-height: 1.8;
}

.section {
  padding: var(--section-padding);
}

.section:nth-child(even) {
  background-color: var(--section-bg-even);
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content .section-image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.section-content .section-image img {
  width: 100%;
  border-radius: var(--image-border-radius);
}

.section-content .section-text {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.section-content .section-text h4 {
  font-weight: var(--heading-font-weight);
  margin-bottom: var(--heading-margin-bottom);
}

.section-content .section-text p {
  line-height: var(--paragraph-line-height);
  font-weight: 700px;
}

/* Responsive Design */
@media (min-width: 768px) {
  .section-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .section-content .section-image {
    margin-bottom: 0;
  }

  .section-content .section-text {
    text-align: left;
    padding-left: 20px;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }
}
